<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Bienvenido al Dashboard</h2>
        <p>Hola, {{ current_user.username }}.</p>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar Sesión</a>
    </div>
</body>
</html>
