<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Editar Usuario</h2>
        <form method="POST" action="{{ url_for('editar_usuario', id=user.id) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Nuevo Nombre de Usuario</label>
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control", value=user.username) }}
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
        <a href="{{ url_for('usuarios') }}" class="btn btn-secondary">Volver a la lista de usuarios</a>
    </div>
</body>
</html>
