<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Nuevo Usuario</h2>
        <form method="POST" action="{{ url_for('nuevo_usuario') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Usuario</label>
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control", placeholder="Nuevo usuario") }}
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control", placeholder="Nueva contraseña") }}
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Crear Usuario</button>
        </form>
        <a href="{{ url_for('usuarios') }}" class="btn btn-secondary">Volver a la lista de usuarios</a>
    </div>
</body>
</html>
